<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Auto_Wallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Auto_Wallpaper.Properties.Settings>
            <setting name="horizontalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="verticalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="horizontalStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="horizontalTile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verticalStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verticalTile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Auto_Wallpaper.Properties.Settings>
      </userSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
